{% extends "base.html" %}

{%block title %}Review Balance {% endblock %}

{% block body %}

<div class="con-review">

  <div id="select-range">
    <label for="daterange_textbox">Select range:</label>
    <input type="text" id="daterange_textbox" class="form-control" readonly>
  </div>

  <div id="balance-area">
    <div class="card-review incomes">
      <div class="card-body">
        <h5 class="card-title">Incomes</h5>
        <p id="incomes-sum" class="card-text"></p>
      </div>
    </div>
    <div class="card-review expenses">
      <div class="card-body">
        <h5 class="card-title">Expenses</h5>
        <p id="expenses-sum" class="card-text"></p>
      </div>
    </div>
    <div class="card-review balance">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p id="balance-sum" class="card-text"></p>
      </div>
    </div>
  </div>

  
  
    <div class="bar-chart" >
      <canvas id="bar_chart_expenses"></canvas>
    </div>
  
    <div class="pie-chart-incomes">
      <canvas id="pie_chart_incomes"></canvas>
    </div>
    <div class="pie-chart-expenses">
      <canvas id="pie_chart_expenses"></canvas>
    </div>
 
  
  
</div>

{% endblock %}