{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

<div class="con-settings">

<div id="edit-personal-data">
  <div class="row pt-4">
    <h3 class="headerOfEditPersonalData">Edit personal data</h3>
  </div>
  <hr>
  <h5 class="headerOfEditPersonalData">Provide new informations</h5>

  <div class="col">

    <form method="post" action="/settings/update" id="formProfile" class="d-flex flex-column personalDataForm">

      <div class="form-group">
          <label for="inputName">Name</label>
          <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required class="form-control"/>
      </div>
      <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control"/>
      </div>
      <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock" class="form-control"/>
          <span id="helpBlock" class="help-block">Leave blank to keep current password</span>
      </div>

      <button type="submit" class="btn btn-lg btn-outline-secondary mt-3">Save</button>

  </form>



  </div>

</div>

<div id="edit-default-settings">
  <div class="row pt-4">
    <h3>Edit default settings</h3>
  </div>
  <hr>
  <div class="col">
    <h5>Incomes</h5>
    <div class="input-group d-flex">
      <form action="/settings/addIncomeCategory" method="post" class="categoryForms">
        <input id="inputIncomeCategory" name="incomeCategoryName" type="text" class="form-control" placeholder="New category" aria-label="New category">
        <label for="inputIncomeCategory"></label>
        <button class="btn btn-success" type="submit" id="addIncomeButton">Add</button>
      </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-income-category" method="post" class="categoryForms">
        <select id="incomeCategorySelect" name="incomeCategorySelected" title="select" class="form-select">

          {% for incomeCategory in incomeCategories %}
            <option value="{{ incomeCategory.name }}" >{{ incomeCategory.name }}</option>
          {% endfor %}

        </select>
        <label for="incomeCategorySelect"></label>
        <button class="btn btn-warning" type="button" id="deleteIncomeButton">Delete</button>
      </form>
      <form action="/settings/restore-income-categories" method="post">
        <button class="btn btn-danger mt-3" type="button" id="restoreIncomesButton">Restore all categories</button>
      </form>
    </div>
  </div>
  
  <!-- Expenses Section -->
  <div class="col">
    <h5>Expenses</h5>
    <div class="input-group">
      <form action="/settings/addExpenseCategory" method="post" class="categoryForms">
        <input id="inputExpenseCategory" type="text" name="expenseCategoryName" class="form-control" placeholder="New category">
        <label for="inputExpenseCategory"></label>
        <button class="btn btn-success" type="submit" id="addExpenseButton">Add</button>
      </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-expense-category" method="post" class="categoryForms">
        <select id="expenseCategorySelect" name="expenseCategorySelected" class="form-select" title="select" >

          {% for expenseCategory in expenseCategories %}
            <option value="{{ expenseCategory.name }}" >{{ expenseCategory.name }}</option>
          {% endfor %}
          
        </select>
        <label for="expenseCategorySelect"></label>
        <button class="btn btn-warning" type="submit" id="deleteExpenseButton">Delete</button>
      </form>
      <form action="/settings/restore-expense-categories" method="post">
        <button class="btn btn-danger mt-3" type="button" id="restoreExpensesButton">Restore all categories</button>
      </form>
    </div>
  </div>
  
  <!-- Payment Methods Section -->
  <div class="col">
    <h5>Payment methods</h5>
    <div class="input-group">
      <form action="/settings/addPaymentCategory" method="post" class="categoryForms">
        <input id="inputPaymentCategory" name="paymentCategoryName" type="text" class="form-control" placeholder="New method">
        <label for="inputPaymentCategory"></label>
        <button class="btn btn-success" type="submit" id="addPaymentButton">Add</button>
      </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-payment-category" method="post" class="categoryForms">
        <select id="paymentCategorySelect" name="paymentCategorySelected" class="form-select" title="select">

          {% for paymentMethod in paymentMethods %}
            <option value="{{ paymentMethod.name }}">{{ paymentMethod.name }}</option>
          {% endfor %}

        </select>
        <label for="paymentCategorySelect"></label>
        <button class="btn btn-warning" type="submit" id="deletePaymentButton">Delete</button>
      </form>
      <form action="/settings/restore-payment-categories" method="post">
        <button class="btn btn-danger mt-3" type="button" id="restorePaymentsButton">Restore all categories</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this choice? All the records assigned to this category will be also deleted. Check your incomes/expenses and make sure that you would not lose any records.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="confirmAction">Delete</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}