{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

<div class="con-settings">

<div id="edit-personal-data">
  <div class="row pt-4">
    <h3 class="headerOfEditPersonalData">Edit personal data</h3>
  </div>
  <hr>
  <h5 class="headerOfEditPersonalData">Provide new informations</h5>

  <div class="col">

    <form method="post" action="/settings/update" id="formProfile" class="d-flex flex-column personalDataForm">

      <div class="form-group">
          <label for="inputName">Name</label>
          <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required class="form-control"/>
      </div>
      <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control"/>
      </div>
      <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock" class="form-control"/>
          <span id="helpBlock" class="help-block">Leave blank to keep current password</span>
      </div>

      <button type="submit" class="btn btn-lg btn-outline-secondary mt-3">Save</button>

  </form>



  </div>

</div>

<div id="edit-default-settings">
  <div class="row pt-4">
    <h3>Edit default settings</h3>
  </div>
  <hr>
  <div class="col">
    <h5 >Incomes</h5>
    <div class="input-group d-flex">
      <form action="/settings/addIncomeCategory" method="post" class="categoryForms">
        
        <input id="inputIncomeCategory" name="incomeCategoryName" type="text" class="form-control" placeholder="New category" aria-label="New category" aria-describedby="button-addon2">
        <label for="inputIncomeCategory"></label>
      
        <button class="btn btn-success" type="submit" id="button-addon2">Add</button>
      </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-income-category" method="post" class="categoryForms">

        <select id="incomeCategorySelect" name="incomeCategorySelected" title="select" class="form-select">

          {% for incomeCategory in incomeCategories %}
            <option value="{{ incomeCategory.name }}" >{{ incomeCategory.name }}</option>
          {% endfor %}

        </select>
        <label for="incomeCategorySelect"></label>
        <button class="btn btn-warning" type="submit">Delete</button>
      </form>
      <form action="/settings/restore-income-categories" method="post">
        <button class="btn btn-danger mt-3" type="submit">Restore all categories</button>
      </form>
      
    </div>
  </div>
  <hr>
  <div class="col">
    <h5>Expenses</h5>
    <div class="input-group">
      <form action="/settings/addExpenseCategory" method="post" class="categoryForms">

        <input id="inputExpenseCategory" type="text" name="expenseCategoryName" class="form-control" placeholder="New category" aria-label="New category" aria-describedby="button-addon2">
        <label for="inputExpenseCategory"></label>

        <button class="btn btn-success" type="submit">Add</button>
      </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-expense-category" method="post" class="categoryForms">

        <select id="expenseCategorySelect" name="expenseCategorySelected" class="form-select" title="select" >

          {% for expenseCategory in expenseCategories %}
            <option value="{{ expenseCategory.name }}" >{{ expenseCategory.name }}</option>
          {% endfor %}
          
        </select>
        <label for="expenseCategorySelect"></label>
        <button class="btn btn-warning" type="submit">Delete</button>

      </form>

      <form action="/settings/restore-expense-categories" method="post" >

        <button class="btn btn-danger mt-3" type="submit">Restore all categories</button>

      </form>

    </div>
  </div>
  <hr>
  <div class="col mb-1">
    <h5>Payment methods</h5>
    <div class="input-group">
      <form action="/settings/addPaymentCategory" method="post" class="categoryForms">

      <input id="inputPaymentCategory" name="paymentCategoryName" type="text" class="form-control" placeholder="New method" aria-label="Recipient's username">
      <label for="inputPaymentCategory"></label>

      <button class="btn btn-success" type="submit" id="button-addon2">Add</button>
    </form>
    </div>
    <div class="input-group">
      <form action="/settings/delete-payment-category" method="post" class="categoryForms">
        <select id="paymentCategorySelect" name="paymentCategorySelected" class="form-select" title="select">

          {% for paymentMethod in paymentMethods %}
            <option value="{{ paymentMethod.name }}">{{ paymentMethod.name }}</option>
          {% endfor %}

        </select>
        <label for="paymentCategorySelect"></label>
        <button class="btn btn-warning" type="submit">Delete</button>
      </form>
      <form action="/settings/restore-payment-categories" method="post">
        <button class="btn btn-danger mt-3" type="submit">Restore all categories</button>
      </form>
    </div>
  </div>
</div>

</div>

{% endblock %}