{% extends 'base.html' %}

{% block title %}Incomes{% endblock %}

{% block body %}

  <div class="con-add-income">
    <div id="add-income-main-content" class="container-fluid">
      <div class="row pt-4">
        <h3> Add new Income</h3>
      </div> 
      
        <hr>
        <form action="/incomes/add" method="post" id="formAddIncome">

          <div class="input-group">
            <div class="form-floating ">
              <input type="number" class="form-control" id="incomeAmount" placeholder="Amount" name="amount" step="0.01" min="0.01" required> 
              <label for="incomeAmount">Amount</label>
            </div>
            <span class="input-group-text">PLN</span>
        
            <div class="input-group">
              <select id="incomeCategoryId" name="income_category_assigned_to_user_id" title="select"  class="form-select">
      
                {% for incomeCategory in incomeCategories %}
                  <option value="{{ incomeCategory.id }}" >{{ incomeCategory.name }}</option>
                {% endfor %}
      
              </select>
              <label for="incomeCategoryId"></label>
            </div>

            <div class="input-group">
              <input type="date" name="date_of_income" id="dateOfIncome" placeholder="Date" value="{{ today }}">
              <label for="dateOfIncome"></label>
            </div>

            <div class="input-group">
              <span class="input-group-text">Comment</span>
              <textarea name="income_comment" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-lg">Add income</button>
          </div>
        </form>
    </div>

    <div id="comparison-inc" class="container-fluid">
      <h3 class="row pt-4">Review Incomes</h3>
      <hr>

      <div class="table-responsive">
        
        
        <table id="incomes-table" class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>User_id</th>
              <th>Category</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Comment</th>
            </tr>
            
          </thead>
          
        </table>

      </div>
      
    </div>
  </div>

{% endblock %}