{% extends "base.html" %}

{%block title %}Review Balance {% endblock %}

{% block body %}

<div class="con-review">

  <div id="select-period" class="container-fluid">
    <p class="d-flex my-auto text-body-secondary" style="margin-right: auto;">Selected period :</p>
    <p class="d-flex my-auto" style="margin-right: auto;">This Month</p>
    

    <div class="btn-group dropstart d-flex">
      <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
        Select period
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">This Month</a></li>
        <li><a class="dropdown-item" href="#">Previous Month</a></li>
        <li><a class="dropdown-item" href="#">This Year</a></li>
        <li><a class="dropdown-item" href="#">Custom</a></li>
        
      </ul>
    </div>
  </div>

  <div id="inc-top3" class="container-fluid">
    <caption>Top 3 Incomes</caption>
      <table class="table text-body-secondary text-truncate">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category </th>
            <th scope="col">Amount (PLN)</th>
            
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #379237;">
            <th scope="row">1</th>
            <td>Salary</td>
            <td>6505.85</td>
          </tr>
          <tr style="background-color: #54B435;">
            <th scope="row">2</th>
            <td>Sales on allegro</td>
            <td>1258.80</td>
          </tr>
          <tr style="background-color: #82CD47;">
            <th scope="row">3</th>
            <td>Other</td>
            <td>500.00</td>
          </tr>
        </tbody>
      </table>
    

  </div>

  <div id="exp-top3" class="container-fluid">
    <caption>Top 3 Expenses</caption>
      <table class="table text-body-secondary text-truncate">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category </th>
            <th scope="col">Amount (PLN)</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #E74646;">
            <th scope="row">1</th>
            <td>Housing</td>
            <td>1754.50</td>
          </tr>
          <tr style="background-color: #FA9884;">
            <th scope="row">2</th>
            <td>Food</td>
            <td>1359.28</td>
          </tr>
          <tr style="background-color: #FFE5CA;">
            <th scope="row">3</th>
            <td>Savings</td>
            <td>855.80</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div id="pie-chart-inc" class="container-fluid">
    <h3 style="position: absolute; top: 1rem;">Incomes</h3>
    <div class="pieContainer">
      <div class="pieBackground"></div>
      <div id="pieSlice1" class="hold"><div class="pie"></div></div>
      <div id="pieSlice2" class="hold"><div class="pie"></div></div>
      <div id="pieSlice3" class="hold"><div class="pie"></div></div>
      <div id="pieSlice4" class="hold"><div class="pie"></div></div>
      <div id="pieSlice5" class="hold"><div class="pie"></div></div>
      <div id="pieSlice6" class="hold"><div class="pie"></div></div>
    </div>
  </div>

  <div id="pie-chart-exp" class="container-fluid">
    <h3 style="position: absolute; top: 1rem;">Expenses</h3>
    <div class="pieContainer">
      <div class="pieBackground"></div>
      <div id="pieSlice1" class="hold"><div class="pie"></div></div>
      <div id="pieSlice2" class="hold"><div class="pie"></div></div>
      <div id="pieSlice3" class="hold"><div class="pie"></div></div>
      <div id="pieSlice4" class="hold"><div class="pie"></div></div>
      <div id="pieSlice5" class="hold"><div class="pie"></div></div>
      <div id="pieSlice6" class="hold"><div class="pie"></div></div>
    </div>
  </div>
  
  <div id="balance" class="container-fluid">
      <h5>Your balance:</h5>
      <h4>7606.27 [PLN]</h4>
      <h5>Great job! Keep going!</h5>
  </div>

</div>

{% endblock %}